@import "tailwindcss";

@theme {
  --color-brand: #c54b2c;
  --color-brand-100: #edc7be;
  --color-blue-500: #245a9b;
  --color-gray-300: #d9d9d9;
  --color-accent: #f3f3f3;
  --font-heading: "Akshar", sans-serif;
}
